    *{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    }
    ul{
    display: flex;
    justify-content: space-around;
    }
    li,a{
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    color: #000000;
    margin-left: 15px;
    margin-top: 15px;
    }
    .menu{
    background: #f5f5f5;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    -webkit-box-shadow: 0px 8px 24px 5px rgb(0 0 0 / 50%);
    box-shadow: 0px 8px 24px 5px rgb(0 0 0 / 20%);
    }
    .ponto{
    position: absolute;
    height: 5px;
    width: 5px;
    background: #037ffc;
    border-radius: 2px;
    margin-left: -520px;
    margin-top: 28px;
    }
    a:hover{
    transition: 0.5s;
    color: #037ffc;
    border-bottom: 0.5px solid #037ffc;
    }
.projeto{
    height: 200px;
    width: 200px;
    border: 2px solid #037ffc;
    border-radius:4px ;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: center;
    justify-content: center;

}
.projetos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 10px;

}
.habilidades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 5px;
}
.txt{
    margin-top: 50px;
    margin-left: 10px;
}
.status{
    margin-left: 40%;
    margin-top: 35px;
}
.relogio{
    border-radius: 5px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px -10px;
}