*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
ul{
    display: flex;
    justify-content: space-around;
}
li,a{
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    color: #000000;
    margin-left: 15px;
    margin-top: 15px;
}
.menu{
    background: #f5f5f5;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    -webkit-box-shadow: 0px 8px 24px 5px rgb(0 0 0 / 50%);
    box-shadow: 0px 8px 24px 5px rgb(0 0 0 / 20%);
}
.ponto{
    height: 5px;
    width: 5px;
    background: #037ffc;
    border-radius: 2px;
    margin-left: -400px;
    margin-top: 28px;
}
a:hover{
    transition: 0.5s;
    color: #037ffc;
    border-bottom: 0.5px solid #037ffc;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
}
.redes{
    display: flex;
    flex-direction: row;
}
.circle{
    height: 200px;
    width: 200px;
    border: 4px solid #0044ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #037ffc;
}
img{
    margin-bottom: 10px;
    margin-left: 5px;
}